<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>
        {% block title %}{%endblock%} | TodoList
    </title>
</head>
<body>
    {% include 'includes/navbar.html'%}
    
    {% block contenido %}
    {% endblock %}

    {% for msg in get_flashed_messages() %}
    <div class="container mt-3">
        <row>
            <div class="col-md-6 mx-auto">
                <div class="alert alert-danger alert-dismissible fade show shadow fw-lighter" role="alert">
                    {{ msg }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </row>
    </div>


    {% endfor %}

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
</body>
</html>