{% extends 'layout/base.html' %}

{% block contenido %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-sm-8">
                <div class="card shadow mx-auto" style="width: 25rem;">
                    <div class="card-header">
                        <h1 class="text-center">
                            {% block title %}
                                Registro
                            {% endblock %}
                        </h1>
                    </div>
                    <div class="card-body">
                        <form action="" method="POST">
                            <div class="form-group">
                                <label for="">Nombre de usuario</label>
                                <input type="text" class="form-control" name = 'username' required minlength="3">
                            </div>
                            <div class="form-group">
                                <label for="">Contraseña</label>
                                <input type="password" class="form-control" name = 'password' required minlength="6" maxlenght="40">
                            </div>
                            <div class="text-center mt-3">
                                <input type="submit" class="btn btn-primary shadow" value="Registrar usuario">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}