<nav class="navbar navbar-expand-sm bg-dark shadow mt-1" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index') }}">TodoList</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <div class="d-flex justify-content-end">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if g.user %}
              <li class="nav-item">
                <span class="active nav-link">{{ g.user.username }}</span>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="{{ url_for('todo.listar') }}">Tareas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.logout')}}">Cerrar Sesión</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link"  href="{{ url_for('auth.registro') }}">Registro</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.login') }}">Inicio Sesión</a>
              </li>
            {% endif %}
          </ul>
        </div>

        
      </div>
    </div>
  </nav>